// _fonts.scss
// @use "@/assets/styles/utils/mixins" as *;

// @include font("Helvetica Neue", "HelveticaNeueCyr-Light", 300, normal);
// @include font("Helvetica Neue", "HelveticaNeueCyr-Roman", 400, normal);

@font-face {
  font-family: "Manrope";
  src:
    url("../fonts/Manrope/Manrope-Regular.woff2") format("woff2"),
    url("../fonts/Manrope/Manrope-Regular.woff") format("woff");

  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src:
    url("../fonts/Manrope/Manrope-Medium.woff2") format("woff2"),
    url("../fonts/Manrope/Manrope-Medium.woff") format("woff");

  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Unbounded";
  src:
    url("../fonts/Unbounded/Unbounded-Medium.woff2") format("woff2"),
    url("../fonts/Unbounded/Unbounded-Medium.woff") format("woff");

  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Unbounded";
  src:
    url("../fonts/Unbounded/Unbounded-Bold.woff2") format("woff2"),
    url("../fonts/Unbounded/Unbounded-Bold.woff") format("woff");

  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
