// Світла тема
.light {
  --themes-bg: #f9fafb;
  --themes-text: #111827;
  --themes-card-bg: oklch(20.8% 0.042 265.755);
  --themes-card-bg-col: #ffffff;
  --themes-color-svg: #0e2ee0;
  --themes-color-svg-about: #e05b0e;
  --themes-color-svg-all: #ee0979;
  --themes-color-svg-faq: #49d607;
  --themes-color-svg-contact: #8f2de0;
  --themes-color-svg-search: #2575fc;

  --themes-border-color: #374151;
  --hover-dropdown-item: #8f2de0;
  --themes-header-background: #e5e5eb;
  --themes-footer-background: #0e0218;
  --themes-footer-border-color: rgba(255, 255, 255, 0.05);
}

// Темна тема
.dark {
  --themes-bg: #111827;
  --themes-text: #f9fafb;
  --themes-card-bg: #ffffff;
  --themes-card-bg-col: #cfd3db;
  --themes-color-svg: #49d607;
  --themes-color-svg-about: #f5042f;
  --themes-color-svg-all: #ee0979;
  --themes-color-svg-faq: ##e9dc21;
  --themes-color-svg-contact: #f9fafb;
  --themes-color-svg-search: #8f2de0;

  --themes-border-color: #e5e7eb;
  --hover-dropdown-item: #ffc3dc;
  --themes-header-background: #cdcac9;
  --themes-footer-background: #161616;
  --themes-footer-border-color: rgba(255, 255, 255, 0.05);
}
